{%extends "base.html"%}
{%block title%}Top 3 Anime Recommendations{%endblock%}

{%block content%}
<br />
<h4>Algorithm uses Collaborative Item based filtering with <b>
    computer vision</b> algorithms.</h3>
<h4>Here are the animes our search engine recommends to you.</h3>
<br />
<form method="POST">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Show</button>
</form>
<br />
<ul id="anime_list" class="list-group">
{%for item in a_list%}
    <li class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex justify-content-between">
            <h5 class="mb-1">{{item[0]}}</h5>
            <span class="badge badge-secondary">{{item[1]}}</span>
          </div>
        <h6>Because you watched: </h6>
        <ul class="list-group">
        {%for sim_anime in item[2]%}
            <li class="mb-3">{{sim_anime}}</li>
        {%endfor%}
        </ul>
    </li>
{%endfor%}
</ul>
{%if a_list |length == 0%}
<p>Please enter more reviews for animes you have watched.</p>
{%endif%}
<br />
<br />
<script type="text/javascript" src="{{ url_for('static', filename='recommendation.js') }}"></script>

{%endblock%}