{% extends "base.html" %} {% block title %} Home Page {% endblock %} {% block
content %}
<h1 class="mb-3">Welcome to the Anime Recommendation Website</h1>
<ol class="list-group list-group-numbered">
  <li class="list-group-item list-group-item-success">
    Search animes you have watched and enter a rating.
  </li>
  <li class="list-group-item list-group-item-success">
    Then see what our engine has recommended to you in Recommentation.
  </li>
  <li class="list-group-item list-group-item-success">
    Check out the movies you have reviewed in the History tab.
  </li>
</ol>
<img
  src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/274c4514-24b2-47c1-97b5-c7515af92eb7/d2kuzt6-ebf37eed-a816-4559-b1e2-71f933070fc5.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI3NGM0NTE0LTI0YjItNDdjMS05N2I1LWM3NTE1YWY5MmViN1wvZDJrdXp0Ni1lYmYzN2VlZC1hODE2LTQ1NTktYjFlMi03MWY5MzMwNzBmYzUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.h_Y8KwIPzF_ASFXttuCFEc8sXTcjf688qhmCBwgh5LU"
  alt="zoro"
  width="200px"
  height="400px"
/>
{% endblock %}
