{%extends "base.html"%}
{%block title%}Top 3 Anime Recommendations{%endblock%}

{%block content%}
<br />
<h4 class="display-4">Algorithm uses Collaborative Item based filtering with <mark>
    computer vision</mark> algorithms.</h3>
<br />
<h4 class="display-4">Here are the three animes our search engine recommends to you.</h3>
<br />
<form method="POST">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Show</button>
</form>
<br />
<ul id="anime_list" class="list-group">
{%for item in a_list%}
    <li class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex justify-content-between">
            <h5 class="mb-1">{{item[0]}}</h5>
            <span class="badge badge-secondary">{{item[1]}}</span>
          </div>
        <h6>Because you watched: </h6>
        <ul class="list-group">
        {%for sim_anime in item[2]%}
            <li class="mb-3">{{sim_anime}}</li>
        {%endfor%}
        </ul>
        
    </li>
{%endfor%}
</ul>
<script type="text/javascript" src="{{ url_for('static', filename='recommendation.js') }}"></script>

{%endblock%}